* {
  box-sizing: border-box;
}

body {
  background-color: #EEF9BF;
}

header h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 56px;
  font-weight: 700;
  color: #75B79E;

  display: flex;
  justify-content: center;

  margin: 40px 0;

  text-align: center;
}

header div {
  position: fixed;
  top: 10px;
  right: 50%;
}

header span {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: black;
  z-index: 4;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 34px 34px;

  padding: 0 122px;
}

.card {
  display: inline-block;
}

.card-front {
  width: 117px;
  height: 146px;

  background-image: url('../img/front.png');
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
}

.face {
  background-color: #A7E9AF;

  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);

  backface-visibility: hidden;
  transition: all .2s;
  transform-style: preserve-3d;
}

.card-back {
  width: 117px;
  height: 146px;
  
  background-image: url('../img/explodyparrot.gif');
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
}

li:active .card-front {
  transform: rotateY(-180deg);
}

li:active .card-back {
  transform: rotateY(0);
}

.dn {
  display: none;
}

.disable-click {
  pointer-events: none;
}

@media (max-width: 335px) {
  header h1 {
    font-size: 36px;
  }

  .container {
    align-items: center;
    flex-direction: column;

    padding: 0;
  }
}